@font-face {
  font-family: "Beverly";
  src: url("../Assets/Fonts/Beverly.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Thin";
  src: url("../Assets/Fonts/Aeonik-Thin.otf") format("opentype");
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "Beverly";
}
.form-container {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: row;
  background-color: #766759;
  border-radius: 10px;
  box-shadow:
    0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%),
    0px 1px 8px 0px rgb(0 0 0 / 12%);

  font-family: "Aeonik Thin";
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #d6cec1;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

label {
  font-size: 18px;
}

.field input {
  display: flex;
  align-items: center;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 760px) {
  .form-container {
    flex-direction: column; /* Stack the sections for smaller screens */
    height: auto; /* Allow the height to adjust */
  }
}
