@font-face {
  font-family: "Beverly";
  src: url("../Assets/Fonts/Beverly.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik-Thin";
  src: url("../Assets/Fonts/Aeonik-Thin.otf") format("opentype");
}

.footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-col {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Beverly";
}

.footer-col p,
.footer-col ul,
.footer-col form {
  margin: 0;
  padding: 0;
  font-family: "Aeonik-Thin";
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.icons a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.icons a:hover {
  color: #fcfcfc;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: "Aeonik-Thin";
}

.newsletter-form button {
  padding: 10px;
  border: none;
  background-color: #ffffff;
  color: #1c1c1c;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-form button:hover {
  background-color: #fff;
  color: #1c1c1c;
}
