@font-face {
  font-family: "Beverly";
  src: url("../Assets/Fonts/Beverly.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Thin";
  src: url("../Assets/Fonts/Aeonik-Thin.otf") format("opentype");
}


.employeeslist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listheader {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 1.7rem;
    margin-bottom: 1.7rem;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.add {
    background-color: green;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.listcontainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
}

.list11,
.list12 {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.details {
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
}

.details img {
    width: 50px;
    background: white;
    border-radius: 50%;
}



.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.actions button.update {
    background-color: blue;
    color: white;
    margin-right: 10px;
}

.actions button.delete {
    background-color: red;
    color: white;
}
.list111, .list122{

 display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 576px) {
    .list111,.list122{
        width:20vh;
        padding: 5px; 
        justify-content: center; 
        margin-left: 30px;
    }
    .list122{
        margin-left: 20px;
        gap: 10px;
    }
   
    .list11,
    .list12 {
        width: 10vw; 
        padding: 5px; 
        justify-content: center; 
        margin-left: 50px;
    }
    .list12{
        gap: 15px;
    }
    .listheader{
      left: 0;
      gap:18px;
    }

    .details img {
        width: 40px;
    }
    .details{
        font-size: 0.8rem;
    }

    .actions button {
        font-size: 8px; 
    }
    .pos{
        font-size: 0.85rem;
    }
    .email{
        font-size: 0.86rem;
    }
    .actions{
        gap: 1px;
        font-size: 0.6rem;
        
    }
    .list11:hover {
        background: #323c43;
        color: aliceblue;
        border-radius: 25px;
        width: 60%;
    }
    .add{
        font-size: 8px;
        margin-right: 1400px;
    }
   
}
