.main-Container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-Container {
  max-width: 900px; /* Changed width to max-width */
  display: flex;
  flex-direction: row;
  background-color: #766759;
  border-radius: 10px;
  box-shadow:
    0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%),
    0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eceae6;
  /* border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eceae6;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.right h1 {
  color: #28333b;
  font-size: 40px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin: 10px 0; /* Added margin */
}

.input {
  outline: none;
  border: none;
  width: 100%; /* Changed width to 100% */
  /* padding: 15px; */
  border-radius: 10px;
  background-color: #d6cec1;
  font-size: 14px;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px; /* Added margin-top */
}

.green_btn {
  background-color: #e3bc67;
  color: #28333b;
}

.white_btn {
  background-color: #e3bc67;
  color: #28333b;
}

button {
  margin-top: 15px;
  border-radius: 15px;
}

.error_msg {
  width: 100%; /* Changed width to 100% */
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

label {
  font-size: 18px;
}

.field input {
  display: flex;
  align-items: center;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 760px) {
  .form-container {
    flex-direction: column;
    height: auto;
  }

  .left {
    border-radius: 10px;
  }

  .right {
    border-radius: 10px;
  }
}
