.dashboard {
  display: flex;
  gap:20px;
}
.dashboardcontents{
  /* background-color: rgba(219, 202, 179, 0.537); */
  flex:2;
  border-radius: 20px;
  padding: 2rem;
  display:flex;
  gap:1.5rem;
  justify-content: space-between;
}