@font-face {
  font-family: "Beverly";
  src: url("../Assets/Fonts/Beverly.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Thin";
  src: url("../Assets/Fonts/Aeonik-Thin.otf") format("opentype");
}

body {
  /* Updated background color */
  overflow-y: auto; /* Enable vertical scroll if needed */
  overflow-x: hidden; /* Hide horizontal scroll bar */
}

.app-footer {
  width: 100%;
  height: 30vh;
  background-color: #eceae6; /* Updated background color */
  color: #323c43; /* Updated text color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
    text-align: center; /* Center-align content */


}

h2 {
  color: #28333b; /* Updated text color */
  font-family: "Beverly";
}


.contant p{
  max-width: 600px; /* Limit the maximum width of the paragraph */
  margin: 0 auto; /* Center the paragraph within its container */
  line-height: 1.5; /* Improve readability with line spacing */
  font-size: 1em; /* Set base font size */
}
.app-footer .content {
  text-align: center; /* Ensures text is centered within its container */
}

.app-footer .content p {
  margin: 0; /* Remove default margins */
  padding: 10px; /* Provide padding for breathing space */
  max-width: 70vw; /* Reduced the width for smaller width */
  color: #122737;
  font-family: "Aeonik Thin";
}
.app-footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.app-footer li {
  margin-right: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: #a28c61; /* Updated icon color */
  margin: 0 10px;
}

.social-icons i {
  font-size: 30px;
}
p { display: inline-block; }
/* 
@media only screen and (max-width: 1200px) {
  p {
width: 10%;
}
} */

@media only screen and (max-width: 766px) {
  /* Adjustments for screens up to 766px in width */
 .content p {
max-width: 80vw;}

   .content p {
    max-width: 90vw;
  }
  .app-footer{
    margin-right: 100px;
  }
}

@media only screen and (max-width: 430px) {
   .content p {
    max-width: 40vw;
       left: 0;

  }
  .app-footer .content p{
    right: 200px;
  }
}
