/* Carousel Container */
@font-face {
  font-family: "Beverly";
  src: url("../Assets/Fonts/Beverly.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik Thin";
  src: url("../Assets/Fonts/Aeonik-Thin.otf") format("opentype");
}
body {
  /* Updated background color */
  overflow-y: auto; /* Enable vertical scroll if needed */
  overflow-x: hidden; /* Hide horizontal scroll bar */
}
.carousel {
  position: relative;
  width: 100%; /* Full width */
}

/* Carousel Images with Borders */
.carousel img {
  width: 619px; /* Fixed width */
  height: 400vh; /* Fixed height */
  border-radius: 5px; /* Optional border radius for rounded corners */
}

/* Carousel Captions */
.carousel-caption h3 {
  font-family: "Beverly";
}
.carousel-caption p {
  font-family: "Aeonik Thin";
}
/* Optional: Carousel Transition */
.carousel .carousel-item {
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}
